{% extends "chat/layout.html" %}

{% block header %}
<h1> Talking on "{{chat_room.title_text}}" </h1>	
{% endblock %}

{% block article %}
	{% if error_msg %}
		<p> Error! : "{{error_msg}}" </p>
		<p> Please, try it again with another theme title. </p>
	{% else %}
		<style>
			textarea {
				background-color: #FFFFFF; 
			}
			
			input {
				background-color: #CCFFCC;
			}
			
			div.chat {
				overflow-y:auto;
				width: 300px;
				height: 150px;
				border-style: solid;
				border-color: yellow;
				border-width: 1px;
				margin: 0px;
				padding: 2px;
				background-color: lightyellow;
				font-size: 10px;
			}
		</style>
				
		<div id='talk_area' class='chat'> {{msg|safe}} </div>
		
		<form action="{% url 'chat:talk' pk=chat_room.id chatter_id=user.id msg=form.input_text.value %}" method="post">  
			{% csrf_token %}
<!-- 		{{form.talk_area}}<br> -->
			{{form.input_text}}
			<input type='submit' value='Send'>
		</form>		 		
				
	{% endif %}
	
		<script>
			var f_adapt = function() {
				var tar = $('#talk_area');
				var h_article = $('article').height();
				tar.height(h_article-$('#input_text').height());
				tar.width($('article').width());
				tar.scrollTop(tar.height());
			}
			
			$(document).resize(f_adapt);	
			$(document).ready(f_adapt);

		</script>
<!-- 
		<p id='nickname' hidden> {{user.nickname_text}}</p>
		<script>
			$(document).ready( function () {
				var f = function () {
					var nickname = $('#nickname').text();
					var input = $('#input_text');					
					var talk = $('#talk_area');
					talk.val(talk.val()+ nickname + ': '+input.val()+'\n');
					input.val('');					
				}
				
				$('#send_button').click(f);
				$('#input_text').keydown( function(event){				
					if ( event.which == 13 ) {
						f();
						event.preventDefault();
					} 				
				});
			});
		</script>	
 -->


{% endblock %}