{% extends "chat/layout.html" %}

{% block article %}
	{% if error_msg %}
		<p> Error! : "{{error_msg}}" </p>
		<p> Please, try it again with another theme title. </p>
	{% else %}
		<style>
			textarea {
				background-color: #FFFFFF; 
			}
			
			input {
				background-color: #CCFFCC;
			}
		</style>
		
		<form action="{% url 'chat:talk' pk=chat_room.id chatter_id=user.id %}" method="post">  
			{% csrf_token %}

			{{form.talk_area}}<br>
			{{form.input_text}}			
			<button id='send_button' type='submit'> Send </button>	
	{% endif %}
<!-- 
		<p id='nickname' hidden> {{user.nickname_text}}</p>
		<script>
			$(document).ready( function () {
				var f = function () {
					var nickname = $('#nickname').text();
					var input = $('#input_text');					
					var talk = $('#talk_area');
					talk.val(talk.val()+ nickname + ': '+input.val()+'\n');
					input.val('');					
				}
				
				$('#send_button').click(f);
				$('#input_text').keydown( function(event){				
					if ( event.which == 13 ) {
						f();
						event.preventDefault();
					} 				
				});
			});
		</script>	
 -->
		</form>

{% endblock %}