<h1> Joon's Chatting Service </h1>
<hr>

<form action="{% url 'chat:index' %}" method="post">
	{% csrf_token %}
	<div>
	<h3> Now, {{ form.choices | length }} chatroom(s) is open:</h3>
	{% for select in form.choices %}
		<div  style="background-color:lightblue"> {{select}} ( owner nickname... ) </div>	
	{% endfor %}
	</div>
	
	<hr>
	<div>	
	<label>Chat title</label>
	{{form.chat_title}}
	
	<label>Nick name</label>
	{{form.nick_name}}
	</div>
	
	<div>
	<input type = 'submit' value='Join' />
	<input type = 'submit' value='Open' />
	</div>
</form>