<h1> Joon's Chatting Service </h1>
<hr>

<form action="{% url 'chat:index' %}" method="post">
	{% csrf_token %}
	<div>
	<h3> Now, {{ form.choices | length }} chatroom(s) is open:</h3>
	{% for select in form.choices %}
		{% if forloop.counter == 1 %}
			<div  style="background-color:lightblue"> {{select}} ( {{select.admin}} ) </div>
		{% else %}
			<div  style="background-color:lightyellow"> {{select}} ( {{select.admin}} )</div>
		{% endif %}		
	{% endfor %}
	</div>
	
	<hr>
	<div>	
	<label>Chat title</label>
	{{form.chat_title}}
	
	<label>Nick name</label>
	{{form.nick_name}}
	</div>
	
	<div>
	<input type = 'submit' value='Join' />
	<input type = 'submit' value='Open' />
	</div>
</form>