<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>

<h1>
"{{question.question_text}}"
</h1>

<hr>

{% if error_message %}
	<p><strong>{{error_message}}</strong></p>
{% endif %}

{% if question.choice_set.all.count > 0 %}
<div style="background-color:lightblue">
	<form action="{% url 'polls:vote' question.id %}" method="post">
	{% csrf_token %}
	{% for choice in question.choice_set.all %}
		<input type='radio' name='choice' id='choice{{forloop.counter}}' value='{{choice.id}}' />
		<label for='choice{{forloop.counter}}'>{{choice.choice_text}}</</label><br />
	{% endfor %}
	<input type = 'submit' value='Vote' />
	</form>
{% endif %}
</div>

<hr>
<p> The total # of choices is : {{ question.choice_set.all.count }} <p>

</body>
</html>